@model OnlineShop.Models.ProductTypes
@{
    ViewData["Title"] = "Chỉnh sửa loại sp";
}

<br/>

<h2 class="text-info">@ViewData["Title"]</h2>

<a class="wwg medium text" asp-action="Index"><i class="icon arrow left"></i> Quay lại</a>

<div class="ui segment">
  <form asp-action="Edit" method="post" class="ui large form">
    <input type="hidden" asp-for="Id" />
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="field">
      <label asp-for="ProductType"></label>
      <input asp-for="ProductType" placeholder="Tên loại sản phẩm" autocomplete="off" />
      <span asp-validation-for="ProductType" class="text-danger"></span>
    </div>
    <div class="field">
      <button type="submit" class="ui inverted primary button">Cập nhật</button>
      <a asp-action="Index" class="ui inverted green button">Trở về</a>
    </div>
  </form>
</div>

@section Scripts {
  @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}

