@using System.Net.Http;
@using OnlineShop.Utility;
@using Microsoft.AspNetCore.Http;

@inject IHttpContextAccessor HttpContextAccessor;

@{
    ViewData["Title"] = "Trang quản trị";

    var userRole = HttpContextAccessor.HttpContext.Session.GetString("roleName");
}

<h1>@ViewData["Title"]</h1>

@if (userRole == "Admin")
{
    <div class="ui piled segments">
        <h5 class="ui top attached medium header">
            <i class="fa-regular fa-user fa-bounce"></i>
            Quản lý tài khoản
        </h5>
        <div class="ui attached segment">
            <a class="ui basic button m-1" asp-area="Admin" asp-controller="User" asp-action="Index">
                <i class="fa-regular fa-user"></i>
                Quản lý người dùng
            </a>
            <a class="ui basic button m-1" asp-area="Admin" asp-controller="Role" asp-action="Index">
                <i class="fa-solid fa-user-tie"></i>
                Quản lý quyền hạn
            </a>
            <a class="ui basic button m-1">
                <i class="fa-solid fa-gear fa-spin"></i>
                Cấu hình phân quyền
            </a>
        </div>
        <h5 class="ui attached medium header">
            <i class="fa-solid fa-toolbox fa-bounce"></i>
            Công cụ
        </h5>
        <div class="ui bottom attached segment">
            <a class="ui basic button m-1" asp-area="Admin" asp-controller="ProductTypes" asp-action="Index">
                <i class="fa-solid fa-tag"></i>
                Quản lý loại sp
            </a>
            <a class="ui basic button m-1" asp-area="Admin" asp-controller="SpecialTag" asp-action="Index">
                <i class="fa-solid fa-hashtag"></i>
                Quản lý thẻ sp
            </a>
            <a class="ui basic button m-1" asp-area="Admin" asp-controller="Product" asp-action="Index">
                <i class="fa-solid fa-box"></i>
                Quản lý sản phẩm
            </a>
            <a class="ui basic button m-1" asp-area="Admin" asp-controller="Orders" asp-action="Index">
                <i class="fa-regular fa-file-lines"></i>
                Quản lý đơn hàng
            </a>
        </div>
    </div>
}
else if (userRole == "Marketing")
{
    <div class="ui piled segments">
        <h5 class="ui top attached medium header">
            <i class="fa-solid fa-toolbox fa-bounce"></i>
            Công cụ
        </h5>
        <div class="ui bottom attached segment">
            <a class="ui basic button m-1" asp-area="Admin" asp-controller="ProductTypes" asp-action="Index">
                <i class="fa-solid fa-tag"></i>
                Quản lý loại sp
            </a>
            <a class="ui basic button m-1" asp-area="Admin" asp-controller="SpecialTag" asp-action="Index">
                <i class="fa-solid fa-hashtag"></i>
                Quản lý thẻ sp
            </a>
            <a class="ui basic button m-1" asp-area="Admin" asp-controller="Product" asp-action="Index">
                <i class="fa-solid fa-box"></i>
                Quản lý sản phẩm
            </a>
            <a class="ui basic button m-1" asp-area="Admin" asp-controller="Orders" asp-action="Index">
                <i class="fa-regular fa-file-lines"></i>
                Quản lý đơn hàng
            </a>
        </div>
    </div>
}

