@{
    ViewData["Title"] = "Thêm quyền";
}
<br />

<h2 class="text-info">@ViewData["Title"]</h2>

<a class="wwg medium text" asp-action="Index"><i class="icon arrow left"></i> Quay lại</a>

<div class="ui segment">
    <form asp-action="Create" method="post" enctype="multipart/form-data" class="ui large form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <h3>@ViewBag.msg</h3>
        <div class="field">
            <label>Tên quyền</label>
            <input id="name" name="name" value="@ViewBag.name" placeholder="Tên quyền" required autocomplete="off" />
        </div>
        <div class="field">
            <button type="submit" class="ui inverted primary button">Thêm</button>
            <a asp-action="Index" class="ui inverted green button">Trở về</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


