@page
@model ChangePasswordModel
@{
    ViewData["Title"] = "Đổi mật khẩu";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<form id="change-password-form" method="post" class="ui large form">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="field">
        <label asp-for="Input.OldPassword"></label>
        <input asp-for="Input.OldPassword" autocomplete="current-password" aria-required="true" placeholder="Nhập mật khẩu cũ" />
        <span asp-validation-for="Input.OldPassword" class="text-danger"></span>
    </div>
    <div class="field">
        <label asp-for="Input.NewPassword"></label>
        <input asp-for="Input.NewPassword" autocomplete="new-password" aria-required="true" placeholder="Nhập mật khẩu mới" />
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
    </div>
    <div class="field">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" autocomplete="new-password" aria-required="true" placeholder="Xác nhận mật khẩu mới" />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="fluid ui large primary button">Cập nhật mật khẩu</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
