@page
@model SetPasswordModel
@{
    ViewData["Title"] = "Đặt lại mật khẩu";
    ViewData["ActivePage"] = ManageNavPages.ChangePassword;
}

<h3>Đặt lại mật khẩu của bạn</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<p class="text-info">
    Bạn không có tên người dùng/mật khẩu cục bộ cho trang web này. Thêm tài khoản cục
    bộ để bạn có thể đăng nhập mà không cần đăng nhập bên ngoài.
</p>
<form id="set-password-form" method="post" class="ui large form">
    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="field">
        <label asp-for="Input.NewPassword"></label>
        <input asp-for="Input.NewPassword" autocomplete="new-password" placeholder="Nhập mật khẩu mới." />
        <span asp-validation-for="Input.NewPassword" class="text-danger"></span>
    </div>
    <div class="field">
        <label asp-for="Input.ConfirmPassword"></label>
        <input asp-for="Input.ConfirmPassword" autocomplete="new-password" placeholder="Xác nhận mật khẩu mới." />
        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
    </div>
    <button type="submit" class="fluid ui large primary button">Đặt lại mật khẩu</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
