@model OnlineShop.Models.ApplicationUser
@{
    ViewData["Title"] = "Khóa tài khoản";
}

<h2 class="text-info">@ViewData["Title"]</h2>

<a class="wwg medium text" asp-action="Index"><i class="icon arrow left"></i> Quay lại</a>

<div class="ui segment">
    <form asp-action="Lockout" method="post" enctype="multipart/form-data" class="ui large form">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" value="@Model.Id" />
        <h3>@ViewBag.message</h3>
        <h3>Bạn có chắc muốn khóa tài khoản người dùng này?</h3>
        <br />
        <div class="three fields">
            <div class="field">
                <label asp-for="Email"></label>
                <input asp-for="Email" readonly class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="FirstName"></label>
                <input asp-for="FirstName" class="form-control" readonly />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="field">
                <label asp-for="LastName"></label>
                <input asp-for="LastName" class="form-control" readonly />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
        </div>
        <div class="field">
            <button type="submit" class="ui inverted red button">Khóa</button>
            <a asp-action="Index" class="ui inverted green button">Trở về</a>
        </div>
    </form>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}


