@page
@model LogoutModel
@{
    ViewData["Title"] = "Đăng xuất";
}

<header>
    <h1>@ViewData["Title"]</h1>
    @{
        if (User.Identity?.IsAuthenticated ?? false)
        {
            <form class="ui large form" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                <button type="submit" class="ui large primary button">Đăng xuất</button>
            </form>
        }
        else
        {
            <p>Bạn đã đăng xuất thành công khỏi WWGrocery.</p>
        }
    }
</header>
