@model OnlineShop.Models.SpecialTag
@{
    ViewData["Title"] = "Thêm NSX";
}
<br />

<h2 class="text-info">@ViewData["Title"]</h2>

<a class="wwg medium text" asp-action="Index"><i class="icon arrow left"></i> Quay lại</a>

<div class="ui segment">
  <form asp-action="Create" method="post" class="ui large form">
      <div asp-validation-summary="ModelOnly" class="text-danger"></div>
      <div class="field">
          <label asp-for="Name"></label>
          <input asp-for="Name" placeholder="Tên nhà sản xuất" autocomplete="off" />
          <span asp-validation-for="Name" class="text-danger"></span>
      </div>
      <div class="field">
          <button type="submit" class="ui inverted primary button">Thêm</button>
          <a asp-action="Index" class="ui inverted green button">Trở về</a>
      </div>
  </form>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

