@model OnlineShop.Models.SpecialTag
@{
    ViewData["Title"] = "Xóa thẻ";
}
<br />

<h2 class="text-info">Xóa thẻ</h2>
<div class="ui segment">
    <form asp-action="Delete" method="post" class="ui large form">
        <input type="hidden" asp-for="Id" />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="field">
            <label asp-for="Name"></label>
            <input asp-for="Name" readonly="readonly" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="field">
            <button type="submit" class="ui inverted red button">Xóa</button>
            <a asp-action="Index" class="ui inverted green button">Trở về</a>
        </div>
    </form>
</div>

@section Scripts{
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

